.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4169e1;
}

input {
  margin-right: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.photo-card {
  border: 1px solid black;
  border-radius: 3px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  text-align: center;
}

.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}
